.about {
    // background-image: url("../img/about-bg.jpg");
    // background-repeat: no-repeat;
    // background-size: 750px;
    background-color: #1b262f;

    &__container {
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__title {
        font-family: DM Serif Display;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #fbfcfe;
        margin-bottom: 24px;
    }

    &__text {
        width: 445px;
        height: 112px;
        font-size: 15px;
        line-height: 28px;
        color: #fbfcfe;
        mix-blend-mode: normal;
        opacity: 0.7;
        margin-bottom: 32px;
    }

    &__link {
        display: block;
        width: 129px;
        height: 48px;
        border: 1px solid #fbfcfe;
        box-sizing: border-box;
        border-radius: 24px;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        padding: 10px;
        text-align: center;
        letter-spacing: -0.115385px;
        color: #fbfcfe;
        padding: 16px 32px;
        text-decoration: none;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin-left: 70px;
        margin-top: 70px;
    }

    &__item {
        margin-right: 40px;
    }
}

@include breakpoint-down(768px) {
    .about {
        position: relative;
        z-index: 1;
        &__container {
            display: flex;
            padding-top: 100px;
            padding-bottom: 100px;
            align-items: center;
        }

        &__title {
            margin-bottom: 24px;
            margin-top: 94px;
            text-align: center;
            font-size: 32px;
            line-height: 36px;
        }

        &__text {
            width: 327px;
            height: 112px;
            font-size: 15px;
            line-height: 28px;
            margin-bottom: 32px;
            text-align: center;
        }

        &__link {
            margin-left: auto;
            margin-right: auto;
        }

        &__list {
            position: absolute;
            top: 0%;
            // left: 10%;
        }

        &__item {
            margin-right: 30px;
            margin-bottom: 44px;
        }

        &__img {
            width: 127px;
            height: 17px;
        }
    }
}

@include breakpoint-down(425px) {
    .about {
        position: relative;
        z-index: 1;
        height: 680px;

        &__container {
            display: flex;
            padding-top: 100px;
            padding-bottom: 100px;
            align-items: center;
        }

        &__title {
            margin-bottom: 24px;
            margin-top: 94px;
            width: 327px;
            text-align: center;
            font-size: 32px;
            line-height: 36px;
            margin-left: -45px;
        }

        &__text {
            margin-left: -45px;
            width: 327px;
            height: 140px;
            margin-bottom: 60px;
            text-align: center;
        }

        &__link {
            padding: 10px;
            align-items: center;
            margin-left: 75px;
        }

        &__list {
            position: absolute;
            top: 0%;
            margin-bottom: 50px;
        }

        &__item {
            margin-left: -40px;
            width: 107px;
            height: 15px;
            margin-right: 95px;
            margin-bottom: 45px;
        }

        &__img {
            width: 127px;
            height: 17px;
        }
    }
}
