.banking {
    &__title {
        font-weight: 100;
        font-size: 40px;
        line-height: 64px;
        letter-spacing: -0.714286px;
        color: #2D314D;
        padding-bottom: 16px;
    }

    &__text {
        width: 635px;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.28125px;
        padding-bottom: 72px;
    }

    &__list {
        list-style-type: none;
        display: flex;
    }

    &__item {
        width: 255px;
        height: 278px;
        margin-right: 15px;
        margin-left: 15px;
    }

    &__img {
        display: block;
        padding-bottom: 40px;
    }

    &__title-box {
        font-weight: 100;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.428571px;
        color: #2D314D;
        padding-bottom: 26px;
    }

    &__text-box {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.25px;
    }
}

@include breakpoint-down (850px) {
    .banking {
        &__title {
            font-weight: 100;
            font-size: 30px;
            line-height: 50px;
            padding-bottom: 16px;
        }

        &__text {
            width: 600px;
            font-size: 14px;
            line-height: 20px;
        }

        &__list:nth-child(3), 
        &__list:nth-child(4){
            flex-wrap: wrap;
    }

    &__list {
        justify-content: center;
    }

    &__item {
        width: 250px;
        height: 250px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 35px;
    }

    &__img {
        display: block;
        padding-bottom: 40px;
    }

    &__title-box {
        font-weight: 100;
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 20px;
    }

    &__text-box {
        font-size: 10px;
        line-height: 20px;
    }
}
}
