.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #fff;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
     }

     &__logo {
         flex-shrink: 0;
     }

     &__btn {
         display: none;
         width: 24px;
         height: 11px;
         background: none;
         background-image: url("../img/toggler-open.svg");
         border: none;
     }  
}
    


.sitenav {
    &__list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

        &__link {
            display: inline-block;
            position: relative;
            z-index: 1;
            margin: 0 15px;
            padding: 32px 0;
            text-decoration: none;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.107692px;
            color: $main-text-color;

            &::before {
                top: 96%;
                position: absolute;
                z-index: 1;
                display: none;
                width: 100%;
                height: 4px;
                content: "";
                background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
            }
        }

        &__link:hover {
            color: $main-dark-text;
            &::before {
                display: block;
            }
        }
    }



        @media only screen and (max-width:768px) {
            .header {
                margin: 22px 0;

                &__link {
                    display: none;
                }

                &__container {
                    padding: 0 24px;
                }

                &__btn {
                    display: block;
                }
            }

            .close-btn {
                width: 18px;
                height: 18px;
                background-image: url(../img/toggler-close.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }

            .sitenav {
                display: none;
                position: absolute;
                z-index: 1;
                top: 100%;
                left: 0%;
                width: 100%;
                height: calc(100vh - 70.4px);
                background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);

                &__list {
                    padding: 20px 0;
                    margin-left: auto;
                    margin-right: auto;
                    width: 90%;
                    border-radius: 4px;
                    margin-top: 24px;
                    background: #fff;
                    flex-direction: column;
                    text-align: center;
                }

                &__link {
                    padding: 12px 0;
                }
            }

            .sitenav-open {
                display: block;
            }
        }
    
