.intro {
    position: relative;
    z-index: 1;
    &__container {
        display: flex;
        padding-top: 160px;
    }

    &__img {
        position: absolute;
        z-index: 1;
        right: -141px;
        top: -181px;
    }

    &__title {
        font-family: "DM Serif Display";
        width: 546px;
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -0.553846px;
        color: $main-text-color;
        padding-bottom: 42px;
    }

    &__form {
        position: relative;
        z-index: 1;
        border: none;
        width: 445px;
        height: 48px;
        display: flex;
        margin-bottom: 16px;
    }

    &__input {
        padding: 16px;
        border: none;
        width: 445px;
        background: #fbfcfe;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
    }

    &__text {
        font-size: 15px;
        line-height: 18px;
        color: $main-paragraph-color;
        margin-bottom: 151px;
    }
}

.intro-mobile {
    display: none;
}

.form-link {
    position: absolute;
    border: none;
    right: 0%;
}

@include breakpoint-down(1082px) {
    .intro {
        &__img {
            position: absolute;
            z-index: 1;
            right: -400px;
            top: -181px;
        }
    }
}

@include breakpoint-down(768px) {
    .intro {
        &__img {
            display: none;
        }

        &__title {
            font-family: "DM Serif Display";
            margin-top: 250px;
            width: 546px;
            padding-bottom: 42px;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.369231px;
            text-align: center;
        }

        &__form {
            margin-right: auto;
            margin-left: auto;
        }

        &__text {
            margin-bottom: 99px;
            text-align: center;
        }
    }

    .form-link {
        display: block;
    }

    .intro-mobile {
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        width: 500px;
    }
}


@include breakpoint-down(430px) {
    .intro {
        position: relative;
        z-index: 1;
        &__container {
            display: flex;
            padding-top: 160px;
        }
    
        &__img {
            position: absolute;
            z-index: 1;
            right: -141px;
            top: -181px;
        }
    
        &__title {
            width: 315px;
            height: 108px;
            font-size: 28px;
            line-height: 36px;
            text-align: center;
            letter-spacing: -0.246154px;
            padding-bottom: 24px;
        }
    
        &__form {
            display: block;
            position: relative;
            z-index: 1;
            border: none;
            width: 327px;
            height: 48px;
            margin-bottom: 24px;
        }
    
        &__input {
            width: 327px;
            margin-bottom: 16px;
        }
    
        &__text {
            margin-bottom: 100px;
            margin-top: 75px;
        }
    }

    .form-link {
        max-width: 327px;
        height: 48px;
        widows: 100%;
    }
    
    .intro-mobile {
        display: block;
        width: 350px;
    }
}
