.intro {
    background-image: url(../img/intro-img.png);
    background-repeat: no-repeat;
    background-position: right calc(50% - 500px) top;
    background-size: 870px;

    &__container {
        overflow-x: hidden;
        padding-top: 170px;
        padding-bottom: 170px;
        display: flex;
    }

    &__content {
        max-width: 447px;
    }

    &__title {
        margin: 0;
        margin-bottom: 25px;
        font-weight: 100;
        font-size: 56px;
        line-height: 64px;
        color: $main-dark-text;
        letter-spacing: -1;
    }

    &__text {
        margin: 0;
        margin-bottom: 36px;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.28125px;
    }
}


@include breakpoint-down (1024px) {
    .intro {
        background-size: 600px;
        background-position: right -200px center;
    }

    &__container {
        padding-top: 110px;
    }

    &__title {
        font-size: 46px;
        line-height: 54px;
    }

    &__text {
        font-size: 15px;
        line-height: 20px;
    }
}

@include breakpoint-down (768px) {
    .intro {
        background-image: url(../img/phones.png);
        background-position: left -150px top -270px;
        background-size: 1500px;
    

    &__container {
        padding-top: 450px;
        padding-bottom: 90px;
    }

    &__content {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    &__title {
        font-size: 40px;
        line-height: 47px;
    }

    &__text {
        font-size: 15px;
        line-height: 25px;
    }

    &__link {
        margin-left: auto;
        margin-right: auto;
    }
    }
}

@include breakpoint-down (425px) {
    .intro {
        background-image: url(../img/phones.png);
        background-position: left -110px top -150px;
        background-size: 1000px;
    

    &__container { 
        padding-top: 330px;
        padding-bottom: 90px;
    }
    }
}

